In [2]:
import pandas as pd
import numpy as np

In [8]:
df = pd.read_csv("C:/Users/LeeKwangWon/Desktop/Data/test.csv", encoding = "cp949")

In [16]:
df.loc[:,"상호명"]

0                와라와라호프
1         커피빈코리아선릉로93길점
2                  프로포즈
3              싱싱커피&토스트
4              가락사우나내스낵
              ...
573675          비파티세리공덕
573676            앤탑PC방
573677         오즈아레나PC방
573678           파인트리네일
573679           마이리틀네일
Name: 상호명, Length: 573680, dtype: object

In [20]:
df1 = df.to_numpy()
print(df1[0])

[19905471 '와라와라호프' nan 'Q' '음식' 'Q09' '유흥주점' 'Q09A01' '호프/맥주' 'I56219'
 '기타 주점업' 11 '서울특별시' 11680 '강남구' 1168060000 '대치1동' 1168010600 '대치동'
 1.16801e+18 1 '대지' 604 nan '서울특별시 강남구 대치동 604' 116802000000.0
 '서울특별시 강남구 남부순환로' 2933 nan 1.16801e+24 '대치상가' '서울특별시 강남구 남부순환로 2933'
 135280 6280.0 nan 1.0 nan 127.06102609999999 37.49392233]

In [7]:
np.arange(24).reshape(4,-1)

array([[ 0,  1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10, 11],
       [12, 13, 14, 15, 16, 17],
       [18, 19, 20, 21, 22, 23]])

In [27]:
v = np.arange(24).reshape(3,2,4)
print(v)
v.sum(axis=2)

[[[ 0  1  2  3]
  [ 4  5  6  7]]

 [[ 8  9 10 11]
  [12 13 14 15]]

 [[16 17 18 19]
  [20 21 22 23]]]

array([[ 6, 22],
       [38, 54],
       [70, 86]])