In [129]:
import time
import pandas as pd
import math

def equation(x):
    return x - math.exp(-x) -2
error = 1e-7

df = pd.DataFrame()
columns = ["Method", "Time", "iteration"]

# binary

In [130]:
# 1) bisection method
# continuous 해야함
# 한번에 하나밖에 못찾는 다는 단점이 있음.

def binary(left,right,cnt):
    mid = (left + right)/2
    value = equation(mid)
    if abs(value) < error:
        print("x = {}, f(x) = {}, cnt = {}".format(mid,value,cnt))
        return cnt
    if equation(left) * value < 0:
        return binary(left,mid,cnt+1)
    if value * equation(right) < 0:
        return binary(mid,right,cnt+1)
        

start = time.time()
iteration  = binary(-5,5,0)
end = time.time()
print("time = {}".format(end - start))

x = 2.1200282871723175, f(x) = 5.396819791059215e-08, cnt = 25
time = 0.0011548995971679688

In [131]:
temp = [("binary",end-start,iteration)]
df = pd.DataFrame(temp)

In [132]:
df

        0         1   2
0  binary  0.001155  25

# Secant Method

In [133]:
def secant(left,right,cnt):
    mid = right - equation(right)*(right - left)/(equation(right) - equation(left))
    if abs(equation(mid)) < error:
        print("x = {}, f(x) = {}, cnt = {}".format(mid, equation(mid),cnt))
        return cnt
    else:
        return secant(right,mid,cnt+1) #조심하기 x0 --> x1 --> x2 순이기 때문에 right가 왼쪽으로 옴.

left, right = -10,10
start = time.time()
iteration = secant(left,right,0)
end = time.time()

x = 2.1200281793260136, f(x) = -6.682270781155353e-08, cnt = 4

In [134]:
temp = [("secant",end-start,iteration)]
temp = pd.DataFrame(temp)
df = pd.concat([df,temp])
df

        0         1   2
0  binary  0.001155  25
0  secant  0.003524   4

# False

In [135]:
def solve(left,right,cnt):
    mid = right - equation(right)*(left - right)/(equation(left) - equation(right))
    if abs(equation(mid)) < error:
        print("x = {}, f(x) = {}, cnt = {}".format(mid, equation(mid),cnt))
        return cnt
    
    # left(X0)와 mid(X2)의 함숫값을 곱한 부호가 다르면 right을 가운데로 옮겨준다.
    if equation(mid) * equation(left) < 0:
        right = mid
    # left
    else:
        left = mid 
    return solve(left,right,cnt+1)
    
left, right = -5,5
start = time.time()
iteration = solve(left,right,0)
end = time.time()

x = 2.1200283265717963, f(x) = 9.80967262975696e-08, cnt = 323

In [136]:
temp = [("False",end-start,iteration)]
temp = pd.DataFrame(temp)
df = pd.concat([df,temp])
df

        0         1    2
0  binary  0.001155   25
0  secant  0.003524    4
0   False  0.001957  323

# newton

In [137]:
import sympy
from sympy import symbols, Derivative

#기호화
x = symbols('x')
fx = x - sympy.exp(-x) -2
fprime = Derivative(fx,x).doit()

def solve(now, cnt):
    new = float(now) - float(fx.subs({x:now}))/float(fprime.subs({x:now}))
    result = fx.subs({x:new})
    # f(x+1)이 error에 가깝다면.
    if abs(result) < error:
        print("x = {}, f(x) = {}, cnt = {}".format(new, result ,cnt))
        return cnt
    else:
        return solve(new,cnt+1)


start = time.time()
iteration = solve(-10,0)
end = time.time()

x = 2.1200282381232145, f(x) = -9.68182339855517E-10, cnt = 12

In [138]:
temp = [("Newton",end-start,iteration)]
temp = pd.DataFrame(temp)
df = pd.concat([df,temp])
df

        0         1    2
0  binary  0.001155   25
0  secant  0.003524    4
0   False  0.001957  323
0  Newton  0.003765   12

# Fixed point

In [ ]:
def fixed_point(point,cnt):
    print(point)
    #함숫값
    value = float(fx.subs(x,point))
    if abs(value) < error:
        print("x = {}, f(x) = {}, cnt = {}".format(point, value ,cnt))
        return cnt
    else:
        return fixed_point(value,cnt+1)
    
start = time.time()
iteration = fixed_point(0.1,0)
end = time.time()

In [141]:
df.columns = columns

# 결론: 비교

- binary가 제일 빠른 것으로 나온다.
- iteration에서는 secant method가 제일 적었고
- iteration이 제일 많은 false method의 경우 2번째로 빠른 시간을 보여주었다.
- fixed method의 경우, Inf가 나와서 해당 식에서 풀이가 불가한 것으로 보여진다.

In [142]:
df

   Method      Time  iteration
0  binary  0.001155         25
0  secant  0.003524          4
0   False  0.001957        323
0  Newton  0.003765         12