In [72]:
# 좀더 봐야할 것 같긴한데, 아무튼 API연결해서, requsets로 XML파일 받아오고 --> 딕셔너리로 바꿔주고 --> Json으로 만들고 --> 판다스로 바꿔줌

In [68]:
import requests, xmltodict, json

#key는 발급받은걸 의미함, url은 문서에 요청하는 키라고 써져있음.
key = "7wsDPjdd8hNyl8wFuveJT7cDKRqthKYSd2w9BTjoK5YfCPtmLEzqjcmw8Vo7BBHItHbZM45e0M7iu8nu26%2BH4w%3D%3D"
url = "http://apis.data.go.kr/B552061/roadDgdgrLink/getRestRoadDgdgrLink?ServiceKey={}&searchLineString=LineString(127.92136742775328 37.326002556009065, 127.92102024291988 37.32579424030431)&vhctyCd=03&numOfRows=10&pageNo=3".format(key)

content = requests.get(url).content
dict = xmltodict.parse(content)
jsonString = json.dumps(dict['response']['body'], ensure_ascii = False)
jsonObj = json.loads(jsonString)

In [65]:
import pandas as pd
from pandas.io.json import json_normalize
json_normalize(jsonObj["items"]["item"])

<ipython-input-65-7a7602ef57ed>:3: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
  json_normalize(jsonObj["items"]["item"])

  index  ... anals_grd
0     1  ...        04

[1 rows x 4 columns]

In [67]:
json_normalize(jsonObj["items"]["item"])

<ipython-input-67-f30e473b9b1e>:1: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
  json_normalize(jsonObj["items"]["item"])

  index  ... anals_grd
0     1  ...        04

[1 rows x 4 columns]

In [69]:
json_normalize(jsonObj["items"]["item"])

<ipython-input-69-f30e473b9b1e>:1: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
  json_normalize(jsonObj["items"]["item"])

  index  ... anals_grd
0     1  ...        04

[1 rows x 4 columns]

In [71]:
jsonObj

{'items': {'item': {'index': '1',
   'line_string': '(127.92136742775328 37.326002556009065, 127.92102024291988 37.32579424030431)',
   'anals_value': '18.03',
   'anals_grd': '04'}},
 'totalCount': '1',
 'numOfRows': '1',
 'pageNo': '1'}