In [1]:
import time
import pandas as pd
import math
def equation(x):
    return x**2006 + 2006*x +1
error = 1e-5

# binary

In [4]:
# 1) bisection method
# continuous 해야함
# 한번에 하나밖에 못찾는 다는 단점이 있음.

def binary(left,right,cnt):
    mid = (left + right)/2
    value = equation(mid)
    if abs(value) < error:
        print("x = {}, f(x) = {}, cnt = {}".format(mid,value,cnt))
        return cnt
    if equation(left) * value < 0:
        return binary(left,mid,cnt+1)
    if value * equation(right) < 0:
        return binary(mid,right,cnt+1)
        

start = time.time()
iteration  = binary(-1,1,0)
end = time.time()
print("time = {}".format(end - start))
temp = [("bisection",end-start,iteration)]
df = pd.DataFrame(temp)
df

x = -0.0004985034465789795, f(x) = 2.086162567138672e-06, cnt = 25
time = 0.0003199577331542969

           0        1   2
0  bisection  0.00032  25

# Secant

In [5]:
def secant(left,right,cnt):
    mid = right - equation(right)*(right - left)/(equation(right) - equation(left))
    if abs(equation(mid)) < error:
        print("x = {}, f(x) = {}, cnt = {}".format(mid, equation(mid),cnt))
        return cnt
    else:
        return secant(right,mid,cnt+1) #조심하기 x0 --> x1 --> x2 순이기 때문에 right가 왼쪽으로 옴.

left, right = -1,1
start = time.time()
iteration = secant(left,right,0)
end = time.time()
temp = [("secant",end-start,iteration)]
temp = pd.DataFrame(temp)
df = pd.concat([df,temp])
df

x = -0.0004985044865403788, f(x) = 1.1102230246251565e-16, cnt = 2

           0         1   2
0  bisection  0.000320  25
0     secant  0.000309   2

# Newton

In [6]:
import sympy
from sympy import symbols, Derivative

#기호화
x = symbols('x')
#fx = x - sympy.exp(-x) -2
fx = x**2006 + 2006*x +1
fprime = Derivative(fx,x).doit()

def solve(now, cnt):
    new = float(now) - float(fx.subs({x:now}))/float(fprime.subs({x:now}))
    result = fx.subs({x:new})
    # f(x+1)이 error에 가깝다면.
    if abs(result) < error:
        print("x = {}, f(x) = {}, cnt = {}".format(new, result ,cnt))
        return cnt
    else:
        return solve(new,cnt+1)


start = time.time()
iteration = solve(1,0)
end = time.time()

temp = [("Newton",end-start,iteration)]
temp = pd.DataFrame(temp)
df = pd.concat([df,temp])
df

x = -0.0004985044865403743, f(x) = 9.21485110438880E-15, cnt = 1

           0         1   2
0  bisection  0.000320  25
0     secant  0.000309   2
0     Newton  0.004420   1

# Result

In [8]:
df.columns = ["Method", "Time", "iteration"]
df

      Method      Time  iteration
0  bisection  0.000320         25
0     secant  0.000309          2
0     Newton  0.004420          1